* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Poppins', serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40rem;
    background-color: azure;
}

.section {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
    font-size: 1.6rem;
    margin-left: 15%;
}

.section h1 {
    color: #fff;
    line-height: 50px;
}

.container-fluid{
    padding-left: 0px;
}

.section p {
    color: rgb(200, 200, 200);
    padding-left: 15px;
}

.camel {
    color: rgb(16, 176, 240);
}

.features {
    position: absolute;
}

.features button {
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1.7rem;
    /* opacity: 0.9; */
    border: 0.5px solid;
    border-radius: 6px;
    transition: 0.3s ease;
    background-color: rgb(16, 176, 240);
    color: white;
    font-weight: 900;
}

.features button:hover {
    transform: scale(1.1);
    background-color: white;
    color: rgb(16, 176, 240);
    border: 0.5px solid white;
}

header{
   background-color: black;
    color: skyblue;
    opacity: 0.8;
    text-align: center;
    margin: 10px;
    font-size: 25px;
    line-height: 80px;
    letter-spacing: 6px;
    border: 0.1px solid black;
    
}
.ask h4,
.subscribe{
    color: black;
    text-align: center;
    letter-spacing: 2px;
}

.ask .form{
    color: black;
    padding: 10px;
    margin-left: 15%;
}

.ask .form label,
.subscribe .subscribe-form label{
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.ask .form input{
    width: 50%;
    height: 64px;
    font-size: 16px;
    font-weight: bold;
    background-color: lightgrey;
    padding: 16px;
    color: rgb(0, 0, 0);
    
    
}

.ask .submit{
    padding: 8px;
    margin-left: 57%;
}

.subscribe .subscribe-form input{
    padding: 16px;
    margin: 8px;
    height: 16px;
    width: 40%;
    color: rgb(0, 0, 0);
    background-color: lightgray;
    font-size: 16px;
    font-weight: bold;
    
    letter-spacing: 1px;
}


.subscribe .subscribe-form .submit{
    padding: 8px;
    margin-left: 32%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
}
